*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 40px;
    align-items: center;
} 

button{
    color: brown;
    border: 2px solid brown;
    padding: 5px 20px;
    background-color: white;
    transition: color, background-color, box-shadow;
    transition-duration: 0.5s;    
}

button:hover{
    color: white;
    background-color: brown;
}

input{
    border: none;
    border-bottom: 2px solid grey;
}

input:focus{
    outline: none;
    border-bottom: 2px solid brown;
}

button:focus{
    outline: none;
    box-shadow: 5px 5px 10px black;
}



div input{
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 5px;
}
div button{
    border: 2px solid black;
    padding: 5px;
    background-color: white;
    width: 50%;

}