*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

nav {
    /* height: 145px;
    position: fixed;
    width: 100%;
    z-index: 1000; */
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 60px;
    height: 100px;
    background-color: rgb(233, 150, 122);
    font-style:normal;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
nav ul{ 
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between; 
    list-style: none;
    /* text-align: center; */
}



nav ul li a{
    
    padding: 20px;
    transition: background-color 0.5s , text-shadow 0.5s
}

nav ul li a:hover{
    color: rgb(143, 24, 24);
    text-shadow: 5px 5px 5px black;
}

nav .logo img{
    width: 300px;
    
}

.page{
    height: 100vh;
}
#about{
    background-color: #FFDAB9;

}
#recipe{
    background-color: #fcecd8;
}
#contacts{
    background-color: #FFDAB9;
}

.tower{
    margin-top: 5px;
    margin-left: 50px;
    width: 430px;
    height: 600px;
    
}
#about .textabout{
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    font-style:normal;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;

}
#about .textabout h1{
    margin-top: 10px;
    padding: 10px;;
}

/* body{
    background-color: #FFDAB9;
} */
#recipe{
    padding-top: 20px;
    font-style:normal;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
#recipe p {
    padding: 40px;
}
#recipe ul li {
margin-left: 60px;
}
#recipe ol li {
    margin-left: 60px;
    }