*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container{
    padding: 20px;
    
}
.card{
    width: 250px;
    height: 300px;
    position: relative;
    overflow-y: hidden;
    transition: transform 0.4s cubic-bezier(1,-0.42, 0, 1.33);
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .info{
    position:absolute;
    left: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0,0.5);
    color: white;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.5s;
    transition-delay: 0.3s;
}

.card:hover .info{
    transform: translateY(0);
}

.card:hover{
    transform: scale(1.1);
}