*{
    margin: 0px;
    padding: 0px;
}


.item {
    border: 1px solid black;
    width: 70px;
    height: 70px;
    text-align: center; /*выровнили текст по горизонтали */
    line-height: 70px; /* выровнили текст по вертикали */ 
    margin: 10px;
}

.block_1 {
    /* height: 300px; */
    display: flex; 
    flex-wrap: nowrap;
    /* flex-direction: column; */
    /* align-items: end; */

}

.item_fixed{
    min-width: 100px;
}

.block_2 {
    display: flex;
    flex-wrap: wrap;
/* 

flex-direction - выбор направления основной оси
justify-content - выравнивание элементов вдоль основной оси
align-items - выравнивание перпендикулярно основной оси
flex-wrap - перенос элементов на следующую строку

*/
}
