*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 60px;
    height: 60px;
    background-color: rgb(252, 252, 142);
}
nav ul{
    display: flex;
    list-style: none;
    
}



nav ul li a{
    padding: 20px;
    transition: background-color 0.5s , text-shadow 0.5s
}

nav ul li a:hover{
    color: brown;
    text-shadow: 5px 5px 5px black;
}

nav .logo img{
    width: 50px;
    /* height: 50px; */
}

.page{
    height: 100vh;
}
#about_us{
    background-color: beige;
}
#poducts{
    background-color: blueviolet;
}
#contacts{
    background-color: beige;
}